*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    
    

}
.title{
    font-family: 'Dancing Script', cursive;
    color: white;
    margin-left: 10px;
    font-size: 50px;
    text-shadow: 2px 3px 5px black;
}
.navmenu{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin-left: 350px;
}
.navmenu li{
    margin-left: 50px;
    padding: 10px;
}
.navmenu li a{
    text-decoration: none;
    color: white;

    
}
.navicon{
    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;
    list-style-type: none;
}
.navicon li{
    margin-left: 20px;
    padding: 10px;
}
.navicon li a{
    text-decoration: none;
    color: white;

}
.navicon li button{
    border-radius: 50px;
    box-shadow: 2px 3px white;
}
.carousel{
    position: absolute;
    top: -80px;
    z-index: -1;
}
.carousel-caption{
    color: white;
    
}
.bannertitle{
    font-family: 'Dancing Script', cursive; 
    width: 500px;
    position: relative;
    bottom: 100px;
    left: 300px;
}
.navmenu li a:hover{
    color: yellow;
}
.navicon li a:hover{
color: yellow;
}



